@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif;
  height: 100%;
  background: transparent;
}

.forgot-password-container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
}

.forgot-password-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;
  padding: 20px;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-section h2 {
  margin-bottom: 20px;
}

.form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section input,
.form-section button {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.form-section input {
  width: 250px;
}

.form-section button {
  background-color: #1da867;
  color: white;
  cursor: pointer;
}

.form-section button:hover {
  background-color: #3b71ce;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 80%;
  height: auto;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
